.overlay {
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.modal {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
}

.content {
  z-index: 1000;
}

.button {
  z-index: 5;
  align-self: flex-end;
}
